
    .page {
      padding: 16px 16px 96px 16px;
    }
    
    .section-container {
      padding: 16px;
      background: #ffffff;
      border-radius: 8px;
      margin-bottom: 24px;
    }  
    
    .zaui-swiper {
      border-radius: unset !important;
    }

    .overflow-x-scroll::-webkit-scrollbar {
      display: none;
    }

    .overflow-x-scroll {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    input, textarea {

      outline: none;
    }
    